@page "/about"
@layout PublicLayout
@rendermode InteractiveServer
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>About Me</PageTitle>

<div class="static-page">
    <h1>About Me</h1>
    <p>Content coming soon.</p>
</div>
