@page "/contact"
@layout PublicLayout
@rendermode InteractiveServer
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>Contact</PageTitle>

<div class="static-page">
    <h1>Contact</h1>
    <p>Content coming soon.</p>
</div>
