@page "/not-found"
@layout PublicLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>Page Not Found</PageTitle>

<div class="not-found-public">
    <h1 class="not-found-title">Page Not Found</h1>
    <p class="not-found-message">Sorry, the content you are looking for does not exist.</p>
    <a href="/" class="not-found-link">Return to Home</a>
</div>