@page "/privacy"
@layout PublicLayout
@rendermode InteractiveServer
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>Privacy Policy</PageTitle>

<div class="static-page">
    <h1>Privacy Policy</h1>
    <p>Content coming soon.</p>
</div>
