@page "/terms"
@layout PublicLayout
@rendermode InteractiveServer
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>Terms of Use</PageTitle>

<div class="static-page">
    <h1>Terms of Use</h1>
    <p>Content coming soon.</p>
</div>
