@using Microsoft.AspNetCore.Authorization
@using ShireBudgeters.BL.Services.Identity
@using static ShireBudgeters.Common.DTOs.AuthDTOs

@inherits LayoutComponentBase

@attribute [Authorize]

<RadzenLayout style="position: relative;">
    <AdminMenu />
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        Copyright © @(DateTime.Now.Date.Year) - ShireBudgeters
    </RadzenFooter>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<RadzenComponents @rendermode="InteractiveServer" />
