@using Microsoft.AspNetCore.Components.Authorization

@implements IDisposable

@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@* 
<RadzenPanelMenuItem Text="Home" Icon="home"></RadzenPanelMenuItem>
<RadzenPanelMenuItem Text="Finance" Icon="attach_money">
    <RadzenPanelMenuItem Text="Saving" Icon="" />
    <RadzenPanelMenuItem Text="Investing" Icon="" />
    <RadzenPanelMenuItem Text="Debt" Icon="" />
    <RadzenPanelMenuItem Text="Apps" Icon="" />
</RadzenPanelMenuItem>
<RadzenPanelMenuItem Text="Tech" Icon="computer">
    <RadzenPanelMenuItem Text="Phones" Icon="" />
    <RadzenPanelMenuItem Text="PC & Laptops" Icon="" />
    <RadzenPanelMenuItem Text="Gadgets" Icon="" />
    <RadzenPanelMenuItem Text="Smart Home" Icon="" />
</RadzenPanelMenuItem>
<RadzenPanelMenuItem Text="Productivity" Icon="work">
    <RadzenPanelMenuItem Text="Home Office" Icon="" />
    <RadzenPanelMenuItem Text="Organization" Icon="" />
    <RadzenPanelMenuItem Text="Peripherals" Icon="" />
</RadzenPanelMenuItem>
<RadzenPanelMenuItem Text="Software" Icon="code">
    <RadzenPanelMenuItem Text="VPN" Icon="" />
    <RadzenPanelMenuItem Text="Hosting" Icon="" />
    <RadzenPanelMenuItem Text="Invoicing & Accounting" Icon="" />
    <RadzenPanelMenuItem Text="AI Tools" Icon="" />
</RadzenPanelMenuItem>
<RadzenPanelMenuItem Text="Tools & Deals" Icon="build" />
<RadzenPanelMenuItem Text="About Me" Icon="person" />
<RadzenPanelMenuItem Text="Contact" Icon="contact_mail" /> *@

<RadzenPanelMenu>
    <AuthorizeView>
        <Authorized>
            <RadzenPanelMenuItem Text="Dashboard" Path="Admin/Dashboard"/>
            <RadzenPanelMenuItem Text="Logout">
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <button type="submit" class="nav-link">
                        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                    </button>
                </form>
            </RadzenPanelMenuItem>
        </Authorized>
        <NotAuthorized>
            <RadzenPanelMenuItem Text="Login" Path="Account/Login" Icon="login" />  
        </NotAuthorized>
    </AuthorizeView>
</RadzenPanelMenu>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
